@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(79 70 229); /* indigo-600 */
  --secondary-color: rgb(196 181 253); /* indigo-300 */
  --text-color: rgb(17 24 39); /* gray-900 */
  --background-color: rgb(255 255 255); /* white */
  --hover-color: rgb(237 233 254); /* indigo-100 */
  --border-color: rgb(209 213 219); /* gray-300 */
  --text-white: rgb(255 255 255); /* white */
}

.DateRangePicker {
  width: 100%;
}

.DateInput {
  width: 100px;
  padding: 0 12px;
  margin: 0 auto;
}

.DateInput_input {
  font-weight: 200;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-color);
  width: 100%;
  padding: 11px 0 !important;
  border: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  text-align: center;
}

.DateRangePickerInput {
  background-color: var(--background-color);
  height: 100% !important;
  display: flex !important;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.DateRangePicker div {
  min-width: auto;
}

.DateRangePickerInput_arrow {
  margin-bottom: 4px;
}

.DateRangePickerInput_arrow_svg {
  vertical-align: middle;
  fill: var(--text-color) !important;
  height: 24px;
  width: 24px;
}

.DateRangePickerInput_clearDates {
  padding: 5px !important;
  margin: 0 10px 0 10px !important;
}

.DateRangePickerInput_clearDates_default:focus,
.DateRangePickerInput_clearDates_default:hover {
  background: var(--hover-color) !important;
  border-radius: 50%;
}

.DateRangePickerInput_clearDates_svg {
  fill: var(--primary-color) !important;
  height: 14px !important;
  width: 14px !important;
  vertical-align: middle;
  padding: 1px;
}

/* ----- */

.DayPickerKeyboardShortcuts_show__bottomRight,
.DayPickerKeyboardShortcuts_show__bottomRight:hover,
.DayPickerKeyboardShortcuts_show__topRight,
.DayPickerKeyboardShortcuts_show__topRight:hover,
.DayPickerKeyboardShortcuts_show__topLeft,
.DayPickerKeyboardShortcuts_show__topLeft:hover {
  border-right: 33px solid var(--primary-color);
}

.CalendarDay__default:hover {
  background: var(--primary-color) !important;
  border: 1px double var(--border-color);
  color: var(--text-white);
}

.CalendarDay__selected_span {
  background: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color) !important;
  color: var(--text-white);
}

.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover,
.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover,
.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span:active {
  background: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
  color: var(--text-white);
}

.DateInput_input__focused {
  background: var(--background-color);
  border-bottom: 2px solid var(--primary-color) !important;
}

.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
  background: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color) !important;
  color: var(--text-white) !important;
}

.CalendarDay__default:hover {
  background: var(--primary-color) !important;
  border: 1px double var(--border-color);
  color: var(--text-white) !important;
}

.DateRangePickerInput__withBorder {
  border-radius: 6px !important;
  height: 50px;
  border: 1px solid rgb(226 232 240 / 1) !important;
}

.DateRangePickerInput__showClearDates {
  padding-left: 30px !important;
}
