@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(79 70 229); /* indigo-600 */
  --secondary-color: rgb(196 181 253); /* indigo-300 */
  --text-color: rgb(17 24 39); /* gray-900 */
  --background-color: rgb(255 255 255); /* white */
  --hover-color: rgb(237 233 254); /* indigo-100 */
  --border-color: rgb(209 213 219); /* gray-300 */
  --text-white: rgb(255 255 255); /* white */
}

.slick-track {
  display: flex !important;
  gap: 20px !important;
  padding-bottom: 16px;
  align-items: stretch !important;
  height: 100% !important;
}

.slick-track div:first-child {
  height: 100% !important;
}

button:focus-visible {
  outline: none;
}

input:focus-visible {
  outline: none;
}
